.assistant_inner{
    position: fixed;
    right: 1rem;
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background: var(--color-one);
    z-index: 99;
}

.assistant_inner:hover{
    cursor: pointer;
}

.icon svg{
    position: absolute;
    display: block;
    margin: auto;
    fill: var(--text-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

.icon p{
    position: absolute;
    margin: 0;
    color: var(--text-color);
    font-size: 3rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 99;
}

.icon svg:hover{
    filter: invert(20%);
}

#assist{
    bottom: 1.3rem;
    transform: rotate(0deg);
    transition: 200ms ease-out;
}

#assist:hover{
    transform: rotate(90deg);
}

/* inactive Status: */
#assist-contact{
    bottom: 6.5rem;
    visibility: hidden;
    transform: translateY(5.3rem);
    z-index: 98;
    transition: 100ms ease-out;
}

#assist-info{
    bottom: 11.8rem;
    visibility: hidden;
    transform: translateY(10.5rem);
    z-index: 98;
    transition: 100ms ease-out;
}

/* active Status */
#assist-contact.active{
    visibility: initial;
    transform: translateY(0);
    animation: bounce 100ms 100ms;
}

#assist-info.active{
    visibility: initial;
    transform: translateY(0);
    animation: bounce 100ms 100ms;
}

.contact{
    position: fixed;
    bottom: 2rem;
    right: 6.5rem;
    padding: 1rem;
    background: var(--color-one);
    color: var(--text-color);
    box-shadow: black 0 0 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: 200ms ease-out;
    z-index: 97;
}

.contact ul{
    text-align: left;
    padding: .5rem 3rem .5rem 0;
    margin: 0;
}

.contact ul li{
    margin-bottom: 1rem;
}

.contact.active{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.info{
    position: fixed;
    bottom: 5rem;
    right: 6.5rem;
    padding: 1rem;
    background: var(--color-one);
    color: var(--text-color);
    box-shadow: black 0 0 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: 200ms ease-out;
    z-index: 97;
}

.info.active{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}