@import url("text.css");
@import url("header.css");
@import url("container.css");
@import url("trenn.css");

body{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: linear-gradient(178deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);
}

:root {
    --headline-one: 3rem;
    --text-color: #fff;
    --color-one: #b3b3ff;
}

.placeholder{
    margin-top: 30rem;
}

